In [13]:
import pandas as pd

## Data Extraction

In [19]:
dataset = df.copy() # create a copy of dataset

In [14]:
file = pd.read_csv('https://drive.google.com/uc?id=1muwnik-uFGTKBdHmcQN5z68rD7qmdG-b&authuser=1')
df = file
df.head(3)

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference

In [15]:
df.shape

(418, 6)

To get the informations about the dataset

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    object
 3   Travel End Date        418 non-null    object
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: float64(1), object(5)
memory usage: 19.7+ KB

* Informations we need to deal with
1. date is in object
2. purpose of travel has null values

1. Check duplicates
2. Remove empty rows and columns
3. Add missing values (e.g., NaN)
4. Convert data types to numeric, categorical or boolean
5. Impute missing values using the following methods: mean, median, mode, most frequent value, least frequent value, zero, one,

In [18]:
df.duplicated().sum()

0

Defining a function to remove white space
def remove_white_space(text):
    if type(text) == str:
        return text.strip()
    return text

In [20]:
def remove_white_space(text):
    if type(text) == str:
        return text.strip()
    return text

In [22]:
dataset['Travel Start Date'] = dataset['Travel Start Date'].apply(remove_white_space)

In [24]:
dataset['Travel Start Date'] = pd.to_datetime(dataset['Travel Start Date'])

Removing the white space from the Travel End Date

In [25]:
dataset['Travel End Date'].apply(remove_white_space)
dataset['Travel End Date'] = pd.to_datetime(dataset['Travel End Date'])

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    datetime64[ns]
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 19.7+ KB